name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  compile:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    name: Compile

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Node.js version to 24
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install

      - name: Compile
        run: npm run compile

  test:
    timeout-minutes: 10
    runs-on: macos-latest
    name: Test
    needs: compile

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Node.js version to 24
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

  prettier:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    name: Prettier Check
    needs: compile

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Node.js version to 24
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install

      - name: Run Prettier check
        run: npm run prettier-check
